<mat-card>
    <mat-card-header>
        <h1>Willkommen auf Crickat 👋🏼</h1>
    </mat-card-header>
    <mat-card-content>
        <p>
        Hier findest du Events in deiner Nähe, die dich wirklich interessieren!<br>
        Um die Seite zu nutzen musst du einen Account erstellen bzw. dich einloggen.
        </p>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-header>
        <h1>User Login</h1>
    </mat-card-header>
    <mat-card-content>
        <form class="example-form" [formGroup]="loginform" (ngSubmit)="proceedLogin()">
            <mat-form-field class="example-full-width">
              <mat-label>User Name</mat-label>
              <input matInput formControlName="username">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="password">
            </mat-form-field>
            <div>
                <button mat-raised-button color="primary">Login</button>
                <a routerLink="/register" mat-raised-button color="accent">No Account? Click here to register</a>
            </div>
        </form>
    </mat-card-content>
</mat-card>